*

# Terminal basics
!.zshrc
!.zsh_profile
!.zprofile
!.tmux.conf
!.alacritty.toml
!Brewfile

!/.local
/.local/*
!/.local/scripts
!/.local/scripts/*


!/.config
/.config/*
!.config/mise
!.config/mise/*
.config/mise/age.key

!.config/gh
!.config/gh/config.yml

!.config/ghostty
!.config/ghostty/*


!.gitconfig
!.stCommitMsg
!.gitignore_global

# Apple garbage
**/.DS_Store

