*

# Terminal basics
!.zshrc
!.zsh_profile
!.zprofile
!.tmux.conf
!.alacritty.toml

!.gh-dash.yml
!/.local
/.local/*
!/.local/scripts
!/.local/scripts/*


!.gitconfig
!.stCommitMsg
!.gitignore_global

# Apple garbage
**/.DS_Store

