*

# Terminal basics
!.zshrc
!.zsh_profile
!.zprofile
!.tmux.conf
!.alacritty.toml
!Brewfile

!.gh-dash.yml
!/.local
/.local/*
!/.local/scripts
!/.local/scripts/*


!/.config
/.config/*
!.config/mise
!.config/mise/*
.config/mise/age.key


!.gitconfig
!.stCommitMsg
!.gitignore_global

# Apple garbage
**/.DS_Store

